.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  width: 200px;
}

.not-found-heading {
  font-size: 27px;
  color: #183b56;
}

.not-found-description {
  color: #5a7184;
  line-height: 0;
}
